.form-required label::after {
  font-size: 0.725rem;
  margin-left: 4px;
  content: "*";
}

.control label {
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 150ms ease-in;
}

.control.focused label {
  color: rgb(var(--bs-primary-rgb));
}

/* 
.control.control-error input {
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
}

.control.control-error :is(label, .error) {
  color: var(--bs-form-invalid-color);
}

.control.control-error span.error {
  display: block;
  margin-top: 8px;
} */

.control span.error {
  color: var(--bs-form-invalid-color);
  display: block;
  margin-top: .75rem;
}