.form-required label::after {
  font-size: 0.725rem;
  margin-left: 4px;
  content: "*";
}

.control label {
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 150ms ease-in;
}

.control.focused label {
  color: rgb(var(--bs-primary-rgb));
}